<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ECommerceSuite" parallel="tests" thread-count="2">

    <test name="test001">
        <classes>
            <class name="tests.Test001OrderFlow"/>
        </classes>
    </test>

    <test name="test002">
        <classes>
            <class name="tests.Test002PrintLinks"/>
        </classes>
    </test> 

</suite>